---
//lib import
import { getCollection, CollectionEntry } from "astro:content";
//utils import
import { formatDate, getReadingTime } from "../../ts/utils.ts"
//layout import
import PostLayout from "../../layouts/PostLayout.astro";
import Icon from "../../components/Icon.astro";

export async function getStaticPaths(){
    const blogEntries = await getCollection("blog");

    return blogEntries.map(entry => ({
        params: {
            slug: entry.slug
        },
        props: {
            entry
        },
    }));
}
interface Props {
    entry: CollectionEntry<'blog'>;
}

const { entry } = Astro.props as Props;
const { title, author, image, date } = entry.data;
const readingTime = getReadingTime(entry.body);
const { Content } = await entry.render();
---
<!--implement a better snap scroll-->
<PostLayout title={title} >
    <section>
        <h1 class="blog-title">{title}</h1>
        <h2 class="pb-4 pt-2">Written by: {author}</h2>
        <div
           class="link-image"
           style={`background-image: url(${image.src});`}
        ></div>
        <section class="pt-4 flex gap-12 items-center">
            <div class="flex items-center gap-4">
                <Icon icon="clock" width={35} height={35} stroke="white"/>
                <p>{readingTime}</p>
            </div>
            <p>{author}</p>
            <p>{formatDate(date)}</p>
        </section>
    </section>

    <Icon icon="arrow_up" class="block m-auto mt-5 mb-10" width={35} height={35} fill="white" transform="scale(1, -1)"/>

    <section class="markdown-content">
        <!--change font of the content-->
        <Content />
    </section>
</PostLayout>


<style>
    .link-image{
        display: block;
        aspect-ratio: 16/10;
        margin: 0 4rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .blog-title{
        @apply text-8xl font-november mt-8 leading-none w-full;
    }
    h2{
        @apply text-2xl leading-none w-full;
    }
</style>