---
//lib import
import {getCollection} from "astro:content";
//utils import
import { getPinnedPost, formatBlogPosts } from '../../ts/utils'
//component import
import Icon from "../../components/Icon.astro";
import PostCard from "../../components/PostCard.astro";
import PostMiniCard from "../../components/PostMiniCard.astro"
import PostListCard from "../../components/PostListCard.astro"
import Search from '../../components/SearchWidget.astro';
//layout import
import MainLayout from '../../layouts/MainLayout.astro';
import QuickActions from "../../components/pageParts/QuickActions.astro";

const blogEntries = await getCollection("blog");
const pinnedPost = getPinnedPost(blogEntries);
const formatedPosts = formatBlogPosts(blogEntries,{
    filterOutPinned: true,
});


---
<MainLayout title="Whole Blog">
    <section class = "mt-12 flex gap-4">
        <div class="relative h-fit">
            <PostCard post={pinnedPost} />
            <Icon
                icon="push_pin"
                width={60}
                height={60}
                class="absolute top-[-40px] left-1/2 translate-x-[-95%]"
            />
        </div>
        <Search />
    </section>
    <QuickActions />
    <section class="my-8">
        <div class="mb-8 flex justify-between items-end">
            <h1 class="h1">Whole blog:</h1>
            <div>
                <button id="show-grid-posts"><Icon icon="grid" width={45} height={45} stroke="white"/></button>
                <button id="show-line-posts"><Icon icon="list" width={45} height={45} stroke="white"/></button>
            </div>
        </div>

        <section id="post-list-wrapper">
            {formatedPosts.map((post, index) => {
                return(
                        <PostListCard post={post} />
                )
            })}
        </section>

        <table id="post-grid-wrapper" class="w-full table-fixed hidden">
            <tbody>
            {formatedPosts.map((post, index) => {
                const isLastOddPost = formatedPosts.length % 2 !== 0 && index === formatedPosts.length - 1;
                if (isLastOddPost) {
                    return (
                        <tr>
                            <td>
                                <PostMiniCard post={post} />
                            </td>
                        </tr>
                    );
                }
                if (index % 2 === 0) {
                    return (
                        <tr>
                            <td>
                                <PostMiniCard post={post} />
                            </td>
                            <td>
                                {formatedPosts[index + 1] && <PostMiniCard post={formatedPosts[index + 1]} />}
                            </td>
                        </tr>
                    );
                }
                return null;
            })}
            </tbody>
        </table>

    </section>
</MainLayout>

<style>
    .hidden{
        display:none;
    }
    table td{
        @apply pb-4;
    }
</style>
<script>
    const listButton = document.getElementById("show-line-posts");
    const gridButton = document.getElementById("show-grid-posts");
    const postListWrapper = document.getElementById("post-list-wrapper");
    const postGridWrapper = document.getElementById("post-grid-wrapper");

    //slow transition to the top and a check if already shown
    listButton.addEventListener("click", () => {
        postListWrapper.classList.remove("hidden");
        postGridWrapper.classList.add("hidden");
    })
    gridButton.addEventListener("click", () => {
        postListWrapper.classList.add("hidden");
        postGridWrapper.classList.remove("hidden");
    })

</script>

<!--<style>-->
<!--    table tr{-->
<!--        @apply border-b-def-width border-light-accent-->
<!--    }-->
<!--    table td{-->
<!--        @apply border-r-def-width border-light-accent-->
<!--    }-->
<!--    table tr:last-child {-->
<!--        @apply border-b-0;-->
<!--    }-->
<!--    table td:last-child {-->
<!--        @apply border-r-0;-->
<!--    }-->
<!--</style>-->
