---
//libraries import
import { Image } from 'astro:assets';
import type { CollectionEntry } from "astro:content";
//utils import
import { formatDate, getReadingTime } from "../ts/utils.ts"


interface Props {
    post: CollectionEntry<'blog'>;
}

const { post } = Astro.props as Props;

const url = `/blog/${post.slug}`;
const { title, author, date, image } = post.data;

const readingTime = getReadingTime(post.body);
---

<article>
    <a href={url} class="flex items-center h-full relative">
        <div
            class="link-image"
            style={`background-image: url(${image.src});`}
        ></div>
        <div class="text-container">
            <div class="flex gap-4 items-center">
                <p>{formatDate(date)}</p>
                <p>{readingTime}</p>
            </div>
            <h2 class="blog-title">
                {title}
            </h2>
            <p>{author}</p>
        </div>
    </a>
</article>




<style>
    .link-image{
        position:relative;
        width: 250px;
        aspect-ratio: 16/12;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        flex-shrink: 0;
    }
    .text-container{
        @apply flex-1 self-stretch flex flex-col justify-around py-2 pl-4;
    }
    .blog-title{
        @apply text-4xl max-w-full;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
</style>