---
//lib import
import type { CollectionEntry } from "astro:content";
//component import
import Link from "./Link.astro";
import Icon from "./Icon.astro";
//utils import
import { formatDate, getReadingTime } from "../ts/utils.ts"


interface Props {
    post: CollectionEntry<'blog'>;
}

const { post } = Astro.props as Props;

const url = `/blog/${post.slug}`;
const { title, author, date, image } = post.data;

const readingTime = getReadingTime(post.body);
---

<article class="container">
    <header
        class="w-full chessboard-bg flex items-center border-b-def-width"
        style={{"backgroundSize": "16px 16px"}}
    >
        <Link class="bg-bg-color w-fit m-auto text-2xl no-padding"
            text={formatDate(date)}
            href={"no link yet"}
        />
    </header>
    <div class="w-[90%] mx-auto mt-4">
        <a href={url}
           class="link-image"
           style={`background-image: url(${image.src});`}
        ></a>
        <a href={url} class="w-fit h-fit">
            <p class="blog-title">
                {title}
            </p>
        </a>

        <section class="pb-4 flex gap-4 items-center">
            <Icon icon="clock" width={35} height={35} stroke="white"/>
            <p>{readingTime}</p>
            <div class="ml-8">
                <h4 class="font-semibold leading-none">written by:</h4>
                <p>{author}</p>
            </div>
        </section>
    </div>
</article>



<style>
    article{
        @apply w-[35rem] flex-none
    }
    .link-image{
        display: block;
        width: 100%;
        aspect-ratio: 16/9;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .blog-title{
        @apply text-5xl leading-none w-full truncate py-4;
    }
</style>